@font-face {
  font-family: "cweb";
  src: url("fonts/CWEBL.TTF");
}

body {
  font-family: cweb;
  color: white;
  font-size: 28px;
  background: #141722;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  image-rendering: pixelated;
  user-select: none;
  cursor: url(/sprites/cursor.png), none;
}

.viewport {
  position: relative;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.viewport canvas {
  display: block;
  transform-origin: top left;
}

.outline {
  text-shadow: 3px 0 black, -3px 0 black, 0 3px black, 0 -3px black;
}
