@font-face {
  font-family: "cweb";
  src: url("fonts/CWEBL.TTF");
}

body {
  font-family: cweb;
  color: white;
  font-size: 28px;
  background: #141722;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  image-rendering: pixelated;
  user-select: none;
}

#viewport {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#viewport canvas {
  display: block;
  transform-origin: top left;
  cursor: none;
  position: absolute;
}

